body{
    background-color: aqua;
    font-family: Arial, sans-serif;
    align-items: center;
}
form{
    padding: 20px;
    border: 3px solid red;
    margin: 15px;
}
fieldset{
    align-items: center;
    justify-content: center;
}
form>input{
    width: 80px;
}
a{
    text-decoration: none;
    color: blue;
    text-align: center;
}
a:hover{
    background-color: brown;
}
button{
    background-color: purple;
}
button:hover{
    background-color: chartreuse;
}